<section id="stats" class="s-stats">
    <div class="row block-1-4 block-tab-1-2 block-mob-full stats">

        <div class="col-block stats__col">
            <div class="stats__count">
                @ViewBag.TotalBlogs
            </div>
            <h4>Toplam Blog Sayısı</h4>
        </div>
        <div class="col-block stats__col">
            <div class="stats__count">
                @ViewBag.TotalProjects
            </div>
            <h4>Toplam Proje Sayısı</h4>
        </div>
        <div class="col-block stats__col stats__col--highlight">
            <div class="stats__upsign">
                <a href="#"><i class="im im-arrow-up" aria-hidden="true"></i></a>
            </div>
            <div class="stats__count">
                @ViewBag.TotalExperiences
            </div>
            <h4>Toplam İş Deneyimi</h4>
        </div>
        <div class="col-block stats__col">
            <div class="stats__count">
                @ViewBag.TotalReferences
            </div>
            <h4>Toplam Referans Sayısı</h4>
        </div>

    </div>
</section>
