@model About

@{
    ViewData["Title"] = "CreateAbout";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Hakkımda Bilgisi</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Hakkımda Yazısı Ekleme Sayfası</div>
					</div>
					<div class="card-body">

						<form method="post">
							<label>Hakkımda Başlığı</label>
							<input type="text" asp-for="Title" class="form-control" />
							<br />
							<label>Hakkımda Alt Açıklama</label>
							<input type="text" asp-for="SubDescription" class="form-control" />
							<br />
							<label>Hakkımda Detayı</label>
							<textarea rows="8" class="form-control" asp-for="Detail"></textarea>
							<br />
							<button class="btn btn-primary">Hakkımda Yazısını Ekle</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
